<form action="/agendamento" method="POST">

<h3>Dados do Paciente</h3>
<input name="nome" placeholder="Nome"><br>
<input name="sobrenome" placeholder="Sobrenome"><br>
<input name="cpf" placeholder="CPF"><br>
<input type="date" name="nascimento"><br>
<input name="telefone" placeholder="Telefone"><br>
<input name="cep" placeholder="CEP"><br>
<input name="endereco" placeholder="Endereço"><br>

<h3>Dados da Consulta</h3>
<input name="clinica" placeholder="Clínica"><br>
<input name="especialidade" placeholder="Especialidade"><br>
<textarea name="observacao" placeholder="Observação (opcional)"></textarea><br>
<input type="datetime-local" name="data_hora"><br><br>

<button type="submit">Enviar</button>

</form>

</body>
</html>